
@import url('https://fonts.googleapis.com/css2?family=Brawler&family=Indie+Flower&family=Moo+Lah+Lah&family=Noto+Sans+JP:wght@100&family=Orelega+One&family=Prompt:wght@100;800&family=Roboto:wght@100;500&family=Square+Peg&display=swap');

.theBoxFilms{
    width: 1200px;
    height: 480px;
  margin-left: 20%;
  padding: 1% 1% 1% 1%;
  justify-content: center;
  background-color: grey;
  margin-top: 1%;
}
.boxTextfilm{
    font-size: 18px;
    padding-left: 20%;
    color: white;
    text-align:justify;
    line-height: 20px;
    padding-top: 2%;
}
.tituloView{
    font-size: 50px;
    color: aliceblue;
    font-family: 'Orelega One', cursive;
    margin-left: 43%;

}

.fotosPeliculas{
    width: 500px;
    height: 360px;
  object-fit: contain;
  margin-top: 2%;
  
}

.buttonMore{
  width: 300px;
  align-items: center;
  background-color: rgb(6, 5, 5);
  color: white;
  
  margin-left: 60%;

}

.buttonHeartMovies{
  width: 35px;
  height: 35px;
  background-color: rgb(242, 5, 5);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 98%;


}

.buttonDeleteMovies{
  width: 35px;
  height: 35px;
  background-color: rgb(242, 5, 5);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 98%;

}