.logo{
width: 100px;
height: 75px;
margin-left: 1%;
}

.favoritosBoton{
    
   background-color: #b4b6b9 !important;
   color: rgb(25, 26, 27) !important;
border-radius: 5%;
margin-right: 5px;

}

.navbarBlog{
  background-color: rgb(0, 0, 0);
  
}
.favoritosBoton2{
    color: rgb(11, 14, 17) !important;
}

.botonBuscar{
    background-color:#b4b6b9 !important; 
    color: black;
    
}

.botonlogo{
  background-color: transparent;
  border: none;
  
}